/*importing fonts - open sans*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,700,800,800italic);

/*applying font for inheritance*/

html {
    font-family: 'Open Sans', sans-serif;
}

/*background*/
body {
    background: url("../img/slide-bg-complexity.jpg") fixed no-repeat;
    background-size: auto;
    background-origin: border-box;
    background-position: center 0;
}

h1 {
    font-size: 1.7em;
}


/*button styles*/

[-data-btn] {
    background: #1D8EC6;
    padding: .6em 1.3em;
    color: white;
    border: 1px solid #1277AB;
    border-radius: .5em;
    position:relative;
}

[-data-btn]:hover:before {
    content: "";
    display: block;
    border-radius:.5em;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: rgba(0,0,0,0.5)
}

/*small mobile button styles*/
[-data-mobile-bt] {
    display: inline-block;
    background: radial-gradient(circle, #d6d6d6, #e6e6e6 60%);
    border: 1px solid #C7C7C7;
    padding: 0.5em 0.2em;
    border-radius: .3em;
    position: relative;
}

[-data-mobile-bt]:hover:after {
    content: "";
    background: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    border-radius: .3em;
}