/*header styles*/

/*menu checkbox hack*/

/*hamburger icon*/

label[for="menuOpen"] {
    position: absolute;
    left: 1em;
    top: 1em;
}
label[for="menuOpen"]:before {
    content: url('../img/hamburger-icon.png');
    display: inline-block;
    width: 2em;
    text-align: center;
}

/*radio button hack hiding*/
#menuOpen {
    display: none;
}

ul[role="menu"] {
    max-height: 0;
    overflow: hidden;
}

#menuOpen:checked ~ ul[role="menu"]{
    max-height: 100%;
}


/*hiding images*/
li[-data-mnu-grp] > ul > li:last-child {
    display: none;
}

/*grouping top menu items*/
li[-data-mnu-grp] > ul {
    max-height: 0;
    overflow: hidden;
}

li[-data-mnu-grp] > input:checked ~ ul {
    max-height: 100%;
}

/* =====================
top menu styles
=======================*/

ul[role="menu"] {
    position: absolute;
    box-shadow: 0 1px 0.3em -.2em ;
    text-align: left;
    background: white;
    width: 100%;
    z-index: 200;
}

/*layout*/
li[-data-mnu-grp] label[for*="menu"] {
    display: block;
    position: relative;
}

li[-data-mnu-grp] a{
    display: inline-block;
}

/*borders*/
li[-data-mnu-grp] label[for*="menu"],
ul[role="menu"] >  li[-data-mnu-grp] li {
    border-bottom: 1px solid #DBDBDB;
}

/*padding*/

li[-data-mnu-grp] label[for*="menu"] a,
ul[role="menu"] >  li[-data-mnu-grp] > ul a {
    padding: .5em 1.5em;
}


/*hover action*/
ul[role="menu"] a:hover {
    text-decoration: underline;
}


/*arrows*/
[-data-mnu-grp] > label:before {
    content: url('../img/navCollapseArrowRight.png');
    display: inline;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .5em;
}

[-data-mnu-grp] > input[type="radio"]:checked ~ label:before {
    transform: translateY(-50%) rotate(90deg);
    transition: transform 200ms ease-in;
}


/*radio button hack*/
[-data-mnu-grp] > input[type="radio"] {
    display: none;
}



/*==============
Search bar styles
================*/
label[for="searchOpen"] {
    text-align: center;
    position: absolute;
    right: 1rem;
    top: 1em;
}
label[for="searchOpen"]:before {
    content: url('../img/searchBtnMobile.png');
    display: inline-block;
    width: 2em;
}

form[role="search"] {
    display: none;
}

#searchOpen {
    display: none;
}


#searchOpen:checked  + form{
    display: block;
    position: absolute;
    top: 70px;
    width: 100%;
}

form[role="search"]  input[type="search"] {
    border-radius: .4em;
    border: 1px solid #C7C7C7;
    width: 100%;
    padding: 0 1em;
    height: 2em;
    font: inherit;
}

form[role="search"]  input[type="search"]:focus {
    outline: none;
    border-color: cornflowerblue;
}

#searchOpen:checked  + form button[type="submit"] {
    display: none;
}


/*==================
logo styles!
===================*/
/*centering*/
[role="navigation"]  {
    text-align: center;
}

[role="navigation"] > a {
    position: relative;
}
/*hiding desktop logo*/
[role="navigation"] > a img {
    opacity: 0;
}

/*mobile background*/
[role="navigation"] > a:before {
    content: url('../img/comverse-logo-medium.png');
    position: absolute;
    top: 0;
    left:50%;
    transform: translate(-50%, -50%)
}


/*header styles*/
header[role="banner"] {
    box-shadow: 0 1px .3em rgba(0,0,0,0.4);
    min-height: 7em;
    background: white;
}

.langMenu {
    display: none;
}